<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let movie of movie_list | async; let i = index" class="col-md-6 mb-3">
          <div class="card shadow bg-dark" [routerLink]="['/movie', movie._id]" style="height: 500px;">
            <div class="row no-gutters">
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="{{ movie.Poster_Link }}" class="card-img img-fluid rounded" alt="{{ movie.Series_Title }} Poster" style="max-height: 200px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-white">{{ movie.Series_Title }}</h5>
                  <div class="card-header bg-dark text-white">
                    Certificate: {{ movie.Certificate }}
                  </div>
                  <p class="card-text text-white"><strong>Synopsis:</strong> {{ movie.Overview }}</p>
                </div>
                <div class="card-footer bg-dark text-white">
                  <strong>Genre:</strong> {{ movie.Genre }}<br>
                  <strong>Director:</strong> {{ movie.Director }}<br>
                  <strong>IMDB Rating:</strong> {{ movie.IMDB_Rating }}<br>
                  <strong>Meta Score:</strong> {{ movie.Meta_score }}<br>
                  <strong>No of Votes:</strong> {{ movie.No_of_Votes }}<br>
                  <strong>Gross:</strong> ${{ movie.Gross }}<br>
                  <strong>Released Year:</strong> {{ movie.Released_Year }}<br>
                  <strong>Runtime:</strong> {{ movie.Runtime }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="previousPage()">Previous</button>
    </div>
    <div class="col-sm-6 text-end">
      <button class="btn btn-primary" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>
