<div class="row mt-5" style="padding: 10px;">
    <!-- Movie Content Column -->
    <div class="col-md-6 offset-1" *ngFor="let movie of sMovie | async">
        <div class="card mb-4 shadow bg-dark" style="margin: auto; color: #fff;">
            <div class="col-md-12">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="{{ movie.Poster_Link }}" class="card-img img-fluid rounded" alt="{{ movie.Series_Title }} Poster" style="max-height: 200px; margin: auto;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-header bg-dark text-white">
                            {{ movie.Series_Title }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title float-right">Certificate : {{ movie.Certificate }}</h4>
                            <h5 class="card-title">Synopsis</h5>
                            <hr>
                            <p class="card-text">{{ movie.Overview }}</p>
                        </div>
                        <div class="card-footer bg-dark">
                            <strong>Genre:</strong> {{ movie.Genre }}<br>
                            <strong>Director:</strong> {{ movie.Director }}<br>
                            <strong>IMDB Rating:</strong> {{ movie.IMDB_Rating }}<br>
                            <strong>Meta Score:</strong> {{ movie.Meta_score }}<br>
                            <strong>No of Votes:</strong> {{ movie.No_of_Votes }}<br>
                            <strong>Gross:</strong> ${{ movie.Gross }}<br>
                            <strong>Released Year:</strong> {{ movie.Released_Year }}<br>
                            <strong>Runtime:</strong> {{ movie.Runtime }}
                        </div>
                        <!-- Edit Button (visible when logged in) -->
                        <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
                            <button class="btn btn-primary mt-3" (click)="editMovie(movie)">Edit Movie Details</button>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Edit Movie Details Form (hidden by default) -->
            <div *ngIf="editingMovie === movie">
                <div class="card mb-3 shadow mt-3" style="max-width: 50rem; margin: auto; color:black">
                    <div class="card-body">
                        <h2>Edit Movie Details</h2>
                        <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Certificate -->
                                    <div class="form-group">
                                        <label for="Certificate">Certificate</label>
                                        <input type="text" id="Certificate" name="Certificate" class="form-control" formControlName="Certificate" [value]="editingMovie?.Certificate">
                                    </div>
                                    <!-- Director -->
                                    <div class="form-group">
                                        <label for="Director">Director</label>
                                        <input type="text" id="Director" name="Director" class="form-control" formControlName="Director" [value]="editingMovie?.Director">
                                    </div>
                                    <!-- Genre -->
                                    <div class="form-group">
                                        <label for="Genre">Genre</label>
                                        <input type="text" id="Genre" name="Genre" class="form-control" formControlName="Genre" [value]="editingMovie?.Genre">
                                    </div>
                                    <!-- Gross -->
                                    <div class="form-group">
                                        <label for="Gross">Gross</label>
                                        <input type="text" id="Gross" name="Gross" class="form-control" formControlName="Gross" [value]="editingMovie?.Gross">
                                    </div>
                                    <!-- IMDB Rating -->
                                    <div class="form-group">
                                        <label for="IMDB_Rating">IMDB Rating</label>
                                        <input type="text" id="IMDB_Rating" name="IMDB_Rating" class="form-control" formControlName="IMDB_Rating" [value]="editingMovie?.IMDB_Rating">
                                    </div>
                                    <!-- Meta Score -->
                                    <div class="form-group">
                                        <label for="Meta_score">Meta Score</label>
                                        <input type="text" id="Meta_score" name="Meta_score" class="form-control" formControlName="Meta_score" [value]="editingMovie?.Meta_score">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- No of Votes -->
                                    <div class="form-group">
                                        <label for="No_of_Votes">No of Votes</label>
                                        <input type="text" id="No_of_Votes" name="No_of_Votes" class="form-control" formControlName="No_of_Votes" [value]="editingMovie?.No_of_Votes">
                                    </div>
                                    <!-- Overview -->
                                    <div class="form-group">
                                        <label for="Overview">Overview</label>
                                        <textarea id="Overview" rows="3" name="Overview" class="form-control" formControlName="Overview">{{ editingMovie?.Overview }}</textarea>
                                    </div>
                                    <!-- Poster Link -->
                                    <div class="form-group">
                                        <label for="Poster_Link">Poster Link</label>
                                        <input type="text" id="Poster_Link" name="Poster_Link" class="form-control" formControlName="Poster_Link" [value]="editingMovie?.Poster_Link">
                                    </div>
                                    <!-- Released Year -->
                                    <div class="form-group">
                                        <label for="Released_Year">Released Year</label>
                                        <input type="text" id="Released_Year" name="Released_Year" class="form-control" formControlName="Released_Year" [value]="editingMovie?.Released_Year">
                                    </div>
                                    <!-- Runtime -->
                                    <div class="form-group">
                                        <label for="Runtime">Runtime</label>
                                        <input type="text" id="Runtime" name="Runtime" class="form-control" formControlName="Runtime" [value]="editingMovie?.Runtime">
                                    </div>
                                    <!-- Series Title -->
                                    <div class="form-group">
                                        <label for="Series_Title">Series Title</label>
                                        <input type="text" id="Series_Title" name="Series_Title" class="form-control" formControlName="Series_Title" [value]="editingMovie?.Series_Title">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews Column -->
    <div class="col-md-4">
        <div *ngFor="let review of reviews |async">
            <div class="card mb-4 shadow bg-dark" style="max-width: 50rem; margin: auto; color: #fff;">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-header bg-dark text-white">
                            Username : {{ review.user }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title float-right">User : {{ review.comment }}</h4>
                            <h5 class="card-title">Star Rating : {{review.starRating}}</h5>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add New Review Card -->
        <div class="card mb-3 shadow bg-dark" style="max-width: 30rem; margin: auto; color: #fff;">
            <div class="card-body">
                <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
                    <h2>Please review this business</h2>
                    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="user">Name</label>
                            <input type="text" id="user" name="user" class="form-control" formControlName="user" [ngClass]="{'error': isInvalid('user')}">
                        </div>
                        <div class="form-group">
                            <label for="comment">Please leave your review below</label>
                            <textarea id="comment" rows="3" name="comment" class="form-control" formControlName="comment" [ngClass]="{'error': isInvalid('comment')}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="starRating">Please provide a rating (5 = best)</label>
                            <select id="starRating" name="starRating" class="form-control" formControlName="starRating">
                                <option value="1">1 star</option>
                                <option value="2">2 stars</option>
                                <option value="3">3 stars</option>
                                <option value="4">4 stars</option>
                                <option value="5">5 stars</option>
                            </select>
                        </div>
                        <span *ngIf="isIncomplete()">You must complete all fields</span>
                        <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </ng-container>
                <ng-template #loggedOut>
                    <h2>Please login to review this movie</h2>
                </ng-template>
            </div>
        </div>
    </div>
</div>
