<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Include the Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="d-flex align-items-center justify-content-center vh-100 bg-dark">

  <div class="container-fluid">

    <div class="row mt-4 d-flex align-items-center justify-content-center">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card bg-transparent text-white text-center">
          <h1 class="display-1 text-shadow" style="font-family: 'Roboto', sans-serif;">Movie Reviews NI</h1>
          <div class="card-body text-center">
            <p class="card-text text-shadow" style="font-family: 'Roboto', sans-serif;">
              Welcome to the home of movie reviews in NI. To add reviews and new movies, please login using the button
              on the top right of the screen
            </p>
            <div class="d-flex justify-content-center mt-4">
              <button class="btn btn-lg btn-warning" routerLink='/movies'>View All Movies</button>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
